@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fonts from fonts woff folder */
@font-face {
    font-family: "bein-black";
    font-style: black;
    font-weight: 900;
    src: url("../fonts/woff/bein-black.woff") format("woff");
}

@font-face {
    font-family: "bein-normal";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/woff/bein-normal.woff") format("woff");
}
@font-face {
    font-family: "droid-arabic-kufi";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/woff/droid-arabic-kufi.woff") format("woff");
}
@font-face {
    font-family: "droid-arabic-kufi-black";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/woff/droid-arabic-kufi-black.woff") format("woff");
}

body {
    font-family: "droid-arabic-kufi", sans-serif !important;
}

@layer components {
    .header-nav-btn {
        @apply relative overflow-hidden after:content-[''] after:h-2 after:absolute after:left-0 after:translate-y-2 after:bottom-0 after:w-full after:bg-yellow-500 hover:after:translate-y-0 transition-transform after:duration-300;
    }
    .header-nav-btn-active {
        @apply after:translate-y-0;
    }
    .hero-header {
        @apply relative after:content-[''] after:h-full after:absolute after:left-0 after:bottom-0 after:w-full after:bg-gradient-to-t after:bg-midnight after:opacity-60 z-0;
        height: 450px;
    }
}
