@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';


[x-cloak] {
    display: none;
}

svg{
    @apply fill-blue-950;
}

/* import fonts from fonts woff folder */
@font-face {
    font-family: "bein-black";
    font-style: black;
    font-weight: 900;
    src: url("../fonts/woff/bein-black.woff") format("woff");
}

@font-face {
    font-family: "bein-normal";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/woff/bein-normal.woff") format("woff");
}
@font-face {
    font-family: "droid-arabic-kufi";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/woff/droid-arabic-kufi.woff") format("woff");
}
@font-face {
    font-family: "droid-arabic-kufi-black";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/woff/droid-arabic-kufi-black.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "droid-arabic-kufi", sans-serif !important;
}

@layer components {
    .header-nav-btn {
        @apply relative overflow-hidden after:content-[''] after:h-2 after:absolute after:left-0 after:translate-y-2 after:bottom-0 after:w-full after:bg-yellow-500 hover:after:translate-y-0 transition-transform after:duration-300;
    }
    .header-nav-btn-active {
        @apply after:translate-y-0;
    }
    .hero-header {
        @apply relative after:content-[''] after:h-full after:absolute after:left-0 after:bottom-0 after:w-full after:bg-gradient-to-t after:bg-midnight after:opacity-60 z-0;
        /* height: 550px; */
    }
    .container {
        @apply px-3 md:px-0;
    }
    .overley {
        @apply relative before:content-[''] before:h-full before:absolute before:left-0 before:bottom-0 before:w-full before:bg-gradient-to-t before:bg-midnight before:opacity-45 before:z-10;
    }
    .page-header {
        @apply relative after:content-[''] after:h-full after:absolute after:left-0 after:bottom-0 after:w-full after:bg-gradient-to-t after:bg-midnight after:opacity-45 z-0;
    }
    .checked.room{
        @apply bg-black-1000 text-white;
    }
    .no-scrollbar {
        scrollbar-width: none;
    }
    .input{
        @apply bg-gray-50
    }
    select,input{
        @apply bg-transparent;
        box-shadow: none !important;
    }
    .delete{
        width: 1.5rem;
        height: 1.5rem;
        background-color: white !important;
        background-image: url('../images/delete.png');
        background-position: center;
        background-size: 60% auto;
        background-repeat: no-repeat;
    }
    .edit{
        width: 1.5rem;
        height: 1.5rem;
        background-color: white !important;
        background-image: url('../images/edit.png');
        background-position: center;
        background-size: 60% auto;
        background-repeat: no-repeat;
    }
    .publish{
        width: 1.5rem;
        height: 1.5rem;
        background-color: white !important;
        background-image: url('../images/publish.png');
        background-position: center;
        background-size: 60% auto;
        background-repeat: no-repeat;
    }
    input:focus{
        box-shadow: none;
    }

    th.sortable { 
        padding-right: 18px;
        position: relative;
        cursor: pointer;
    }
    .sortable:before,
    .sortable:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0;
    }
    .sortable:before {
        border-bottom-color: #666;
        margin-top: -9px;
    }
    .sortable:after {
        border-top-color: #666;
        margin-top: 1px;
    }

    .scroll-animate{
        opacity: 0.5;
        transform: scale(1);
    }
    .scroll-animate{
        animation: fadeIn 1s forwards;
        animation-timeline: view();
        animation-direction: normal;
        animation-range: 0% 50%;
    }

    .modal{
        .description *{
            max-width: 100% !important;
        }
    }

    .dashboard{
        .breadcrumbs * {
            color: inherit !important;
        }
    }
}


@keyframes fadeIn {
    from {
        opacity: 0.5;
        transform: scale(.8);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}